:root {
    --primary: #f59e0b;

}

html {
    scroll-behavior: smooth;


}

body {
    font-family: inherit;
    background-color: rgb(194, 199, 199);
}

.nav {
    background: linear-gradient(#ffd69475, #ffd69475);
    z-index: 999
}

.main-menu {
    padding: 1rem;
    border-radius: 2rem;
    z-index: 999999;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}




/* hero css start */
.hero {
    background: linear-gradient(#ffd69475, #ffbb461a), url("./images/foods.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-right-child {
    overflow: hidden;
    border-radius: 2rem;
    margin: 2rem;
}



/* hero css end */



/* service start */
#service {
    position: relative;
    top: -8rem;
}

.service-child {
    background-color: white;
    border-radius: 4rem;
    overflow: hidden;
    border: 2px solid rgba(128, 128, 128, 0.218);

}

/* /service end  */


/* famouse section start  */
.famous {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    border-top: 2px solid rgba(128, 128, 128, 0.218);
    padding: 1rem;

}

.child-container {
    width: 84%;
}

.famous-best {
    font-size: 3rem;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.top-container-right-child p {
    color: gray;
}

/* famouse section end */

/* lightbox css start */

/* lightbox end */


/* responsive css start */

@media only screen and (max-width:1047px) {
    #service {
        /* background-color: red; */
        position: relative;
        top: 25rem;
        margin-bottom: 23rem;
    }
    
}



@media only screen and (max-width:849px) {
    #service {
        /* background-color: red; */
        position: relative;
        top: 21rem;
        margin-bottom: 23rem;
    }
    
}

@media only screen and (max-width:640px) {
    #service {
        /* background-color: red; */
        position: relative;
        top: 16rem;
        margin-bottom: 16rem;
    }
    
}

/* responsive css start */